@charset 'utf-8';
@import '@/assets/scss/import/variable.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&subset=korean');

/* reset */
html, body {
	// position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 1600px;
	height: 100%;
	@include font-family('Noto Sans KR');
	font-size: 13px;
	overflow-x: hidden;
	// color: $gray-dark;
}
button, input, select,
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	@include font-family('Noto Sans KR');
	font-size: 13px;
	font-weight: normal;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Anchor */
a {
	color: $gray-dark;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: $gray-dark;
	}
}
em {
	font-style: normal;
	font-weight: normal;
}

strong {
	font-style: normal;
	font-weight: 700;
}
